.typed-cursor {
  margin-left: 0.1em;
  line-height: 1;
  vertical-align: baseline;
  opacity: 1;
  animation: blink 0.7s infinite;
  -webkit-animation: blink 0.7s infinite;
  display: inline-block;
  color: inherit;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}